@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9802 0.0074 151.8914);
  --foreground: oklch(0.4087 0.0415 156.9965);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.4087 0.0415 156.9965);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4087 0.0415 156.9965);
  --primary: oklch(0.2971 0.0311 139.4388);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9270 0.1785 105.6015);
  --secondary-foreground: oklch(0.4755 0.0375 157.2169);
  --muted: oklch(0.9703 0.0041 157.1781);
  --muted-foreground: oklch(0.5793 0.0305 160.2504);
  --accent: oklch(0.8805 0.0942 189.7264);
  --accent-foreground: oklch(0.2971 0.0311 139.4388);
  --destructive: oklch(0.6976 0.1930 23.5425);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9347 0.0075 164.9305);
  --input: oklch(0.9347 0.0075 164.9305);
  --ring: oklch(0.8805 0.0942 189.7264);
  --chart-1: oklch(0.7646 0.0945 189.3118);
  --chart-2: oklch(0.6723 0.0806 190.1796);
  --chart-3: oklch(0.6096 0.0713 189.3894);
  --chart-4: oklch(0.5351 0.0622 189.7143);
  --chart-5: oklch(0.4488 0.0501 189.9331);
  --sidebar: oklch(0.9742 0.0125 149.2513);
  --sidebar-foreground: oklch(0.4087 0.0415 156.9965);
  --sidebar-primary: oklch(0.9270 0.1785 105.6015);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9560 0.1456 105.0534);
  --sidebar-accent-foreground: oklch(0.4087 0.0415 156.9965);
  --sidebar-border: oklch(0.9347 0.0075 164.9305);
  --sidebar-ring: oklch(0.9270 0.1785 105.6015);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Plus Jakarta Sans, sans-serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.675rem;
  --shadow-2xs: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2419 0.0082 169.6131);
  --foreground: oklch(0.8821 0.0135 159.8791);
  --card: oklch(0.2830 0.0089 159.4918);
  --card-foreground: oklch(0.8821 0.0135 159.8791);
  --popover: oklch(0.2830 0.0089 159.4918);
  --popover-foreground: oklch(0.8821 0.0135 159.8791);
  --primary: oklch(0.7932 0.1948 130.2676);
  --primary-foreground: oklch(0.2430 0.0193 225.6306);
  --secondary: oklch(0.3925 0.0292 176.0271);
  --secondary-foreground: oklch(0.8735 0.0077 186.8663);
  --muted: oklch(0.2830 0.0089 159.4918);
  --muted-foreground: oklch(0.5793 0.0305 160.2504);
  --accent: oklch(0.3777 0.0291 240.9292);
  --accent-foreground: oklch(0.8735 0.0077 186.8663);
  --destructive: oklch(0.5684 0.1920 25.7885);
  --destructive-foreground: oklch(0.2590 0.0427 158.7112);
  --border: oklch(0.4755 0.0375 157.2169);
  --input: oklch(0.4755 0.0375 157.2169);
  --ring: oklch(0.7932 0.1948 130.2676);
  --chart-1: oklch(0.7646 0.0945 189.3118);
  --chart-2: oklch(0.6723 0.0806 190.1796);
  --chart-3: oklch(0.6096 0.0713 189.3894);
  --chart-4: oklch(0.5351 0.0622 189.7143);
  --chart-5: oklch(0.4488 0.0501 189.9331);
  --sidebar: oklch(0.2830 0.0089 159.4918);
  --sidebar-foreground: oklch(0.8821 0.0135 159.8791);
  --sidebar-primary: oklch(0.7932 0.1948 130.2676);
  --sidebar-primary-foreground: oklch(0.2590 0.0427 158.7112);
  --sidebar-accent: oklch(0.3777 0.0291 240.9292);
  --sidebar-accent-foreground: oklch(0.9365 0.0089 179.5923);
  --sidebar-border: oklch(0.4755 0.0375 157.2169);
  --sidebar-ring: oklch(0.7932 0.1948 130.2676);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Plus Jakarta Sans, sans-serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.675rem;
  --shadow-2xs: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 5.5px 9px -1px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
